section{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 2fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 125px;
}
section > div{
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}