*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}

::-webkit-scrollbar{
    visibility: hidden;
}
