.switcher-out{
    background: #C7C7C7;
    border: 1px solid #343434;
    border-radius: 30px;
    width: 80px;
    height: 41px;
}
.switcher-in{
    margin: 2px;
    width: 35px;
    height: 35px;
    background: #828282;
    border-radius: 50%;
}