.switcher-out{
  position: relative;
  background: #C7C7C7;
  border: 1px solid #343434;
  border-radius: 30px;
  width: 80px;
  height: 41px;
}

.switcher-in{
  position: absolute;
  transition: all 0.5s ease-in-out;
  margin: 2px;
  width: 35px;
  height: 35px;
  background: #828282;
  border-radius: 50%;
  &[switched-data="true"]{
    transform: translateX(40px);
  }
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}